*.ai
*.pdf
*.png

*.Rdata
*.xlsx
*.Rds
*.csv
*.qs
*.html

.Rproj.user
.Rhistory
/.quarto/
.DS_Store

helper-lmm.R
helper-rmcorr.R
plot_lmm_heatmap_v4.R

_site/*
/_site/
archive/*
out/*
/data/
/figures-ai/
/figures-png/
/srcdata/*

!src/*
srcdata/*
src/indices_info.xlsx
src/indices_info_completed.xlsx
src/$indices_info_completed.xlsx

.DS_Store
Manuscript.docx
src/indices_Supp_table.docx