*.ai
*.pdf
*.png

*.Rdata
*.xlsx
*.Rds
*.csv
*.qs
*.html

.Rproj.user
.Rhistory
/.quarto/
.DS_Store

helper-lmm.R
helper-rmcorr.R
plot_lmm_heatmap_v4.R

_site/*
/_site/
archive/*
out/*
/data/
/figures-ai/
/figures-png/

!src/*

